# APP Config
APP_NAME=
APP_LOGO=
APP_LOGO_MAIL=
NODE_ENV=
DEBUG_MODE=
PORT=
WEBSITE_URL= 
ADMIN_URL= 
BASE_URL=

# JWT 
SECRET_JWT_KEY=""

# DB DEV
BD_DIALECT_DEV=
BD_HOST_DEV=
BD_USERNAME_DEV=
BD_PASSWORD_DEV=
BD_DATABASE_DEV=
BD_CHARSET_DEV=
BD_CONNECT_TIMEOUT_DEV=

# DB PROD
BD_DIALECT_PROD=
BD_HOST_PROD=
BD_USERNAME_PROD=
BD_PASSWORD_PROD=
BD_DATABASE_PROD=
BD_CHARSET_PROD=
BD_CONNECT_TIMEOUT_PROD=

# encryption key
ENCRYPTION_KEY=""

# MAIL SETTING
MAIL_MAILER="" 
MAIL_HOST=""
MAIL_PORT=""
MAIL_USERNAME=""
MAIL_PASSWORD=""
MAIL_ENCRYPTION=""
MAIL_FROM_ADDRESS=${MAIL_USERNAME}
MAIL_FROM_NAME=""

# aws CONFIG (COLECT)
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=
AWS_BUCKET=
AWS_USER=
AWS_S3_BUCKET_PREFIX=

MAIL_COPY=

OMNISEND_API_KEY="" # Omnisend

# REDIS CONFIG
REDIS_HOST_PROD=
REDIS_PORT_PROD=
REDIS_PASSWORD_PROD=""
REDIS_DB_PROD=

REDIS_HOST_DEV=""
REDIS_PORT_DEV=""
REDIS_PASSWORD_DEV=""
REDIS_DB_DEV="0"

# KKiapay LIVE config
KKIAPAY_PUBLIC_KEY = ""
KKIAPAY_PRIVATE_KEY = ""
KKIAPAY_SECRET_KEY = ""

# KKiapay LIVE config
KKIAPAY_TEST_PUBLIC_KEY = ""
KKIAPAY_TEST_PRIVATE_KEY = ""
KKIAPAY_TEST_SECRET_KEY = ""

WEBSITE_URL=""

SOCIAL_MEDIA_APP_FACEBOOK=""
SOCIAL_MEDIA_APP_INSTAGRAM=""
SOCIAL_MEDIA_APP_TIKTOK=""

GENERAL_SETTING_PHONE_1=""

KKIAPAY_SANDBOX=""